# Step 2 - Database Engineering

In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [2]:
# load CSV file into a variable
cleanMeasurements_file = "Resources/clean_hawaii_measurements.csv"
cleanStations_file = "Resources/clean_hawaii_stations.csv"

#load CSV file data in a dataframe
dfMeasurements = pd.read_csv(cleanMeasurements_file)
dfStations = pd.read_csv(cleanStations_file)

In [3]:
dfMeasurements.head()

       station        date      prcp  tobs
0  USC00519397  2010-01-01  0.080000    65
1  USC00519397  2010-01-02  0.000000    63
2  USC00519397  2010-01-03  0.000000    74
3  USC00519397  2010-01-04  0.000000    76
4  USC00519397  2010-01-06  0.160644    73

In [4]:
dfStations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
engine = create_engine('sqlite:///Resources/hawaii.sqlite')

In [6]:
Base.metadata.create_all(engine)

In [7]:
#create Measurement and Station classes
class Measurement(Base):
    __tablename__ = "measurements"
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)
class Station(Base):
    __tablename__ = "stations"
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation  = Column(Float)

In [8]:
# create measurements and stations tables in hawaii.sqlite database
Base.metadata.create_all(engine)

In [9]:
dfStations.to_sql(con=engine, index_label='id', chunksize=75, name=Station.__tablename__, if_exists='replace')
dfMeasurements.to_sql(con=engine, index_label='id', chunksize=75, name=Measurement.__tablename__, if_exists='replace')

In [10]:
#The to_sql function did not let us specify a primary key which is needed later in the project. A second identical table
#is created, the data in the original table is copied to the new database, the original database is then dropped and
#the new database is renamed to match what is expected in the next steps.
engine.execute('CREATE TABLE stations2 (id BIGINT, station TEXT, name TEXT, latitude FLOAT, longitude FLOAT, elevation FLOAT, PRIMARY KEY(id))')
engine.execute('INSERT INTO stations2 SELECT * FROM stations')
engine.execute('DROP TABLE stations')
engine.execute('ALTER TABLE stations2 RENAME TO stations')

In [11]:
#The to_sql function did not let us specify a primary key which is needed later in the project. A second identical table
#is created, the data in the original table is copied to the new database, the original database is then dropped and
#the new database is renamed to match what is expected in the next steps.
engine.execute('CREATE TABLE measurements2 (id BIGINT, station TEXT, date TEXT, prcp FLOAT, tobs BIGINT, PRIMARY KEY(id))')
engine.execute('INSERT INTO measurements2 SELECT * FROM measurements')
engine.execute('DROP TABLE measurements')
engine.execute('ALTER TABLE measurements2 RENAME TO measurements')